

#about {
    display: flex;
    background-color: var(--tertiary-color);
    padding: 0 2em 2em 2em;
    margin-top: 1em;
    align-self: center;
    width: 90%;
    margin: 1em auto;
}

#about h2{
    font-size: 2em;
    margin: .3em 0 .3em 0;
}

#about p {
    width: 15em;
    font-size: 1.2em;
    max-width: 100%;
}

@media (min-width: 600px){
    #about {
        width: 80%;
        margin: 1em auto;
    }
}


@media (min-width: 800px) {

    #about{
         align-self: start;
         align-items: start;
    }

    #about h2{
        font-size: 4em;
        text-align: start;
    }

    #about p {
        width: 20em;
        font-size: 2em;
        text-align: start;
    }
}