.page-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    margin-bottom: 4em;
    overflow-y: auto;
}

#projects{
    background-color: var(--tertiary-light);
}

.breakable-text {
    word-break: break-all;
}

footer{
    height: 4em;
    position: fixed;
    bottom: 0;
    color: red;
}



#intro-text {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills{
    margin-top: 1em;
    background-color: var(--tertiary-color);
}

#skills ul {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}