

#projects{
    background-color: var(--tertiary-light);
}

.breakable-text {
    word-break: break-all;
}

#intro-text {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 11em;

}

.full-screen{
    height:100vh;
}

#skills{
    margin-top: 1em;
    background-color: var(--tertiary-color);
}

#skills ul {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}


footer{
    background-color: var(--tertiary-light);
    height: 6em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.contact-list {
    display: flex;
    column-gap: 3em;
}